body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.rules{
  margin-top:8%;
  font-size: 90%;
  color: #fff;
  background-color:#849eb9 ;
  text-align: left;
  padding:6%;
  border-radius: 6%;
}
.rulesmain{
  width:400px;
  margin:0;
}
.boxes{
  width:900px;
  margin:0;
}
.maingrig{
  height:500px;
  width:100px;
}
.subcontainer {
  margin: 0;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  margin-right: 0;
  margin-left: 20px;
  
}

.yellow {
  background-color: yellow;
  margin-left: 230px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
